@font-face {
    font-family: 'Segoe UI Variable';
    font-style: normal;
    font-weight: 400;
    src: local('Segoe UI Variable'), url('SegoeUIVF.woff') format('woff');
}

body {
    background-color: black;
}

p {
    color: #293BFD;
    font-family: 'Segoe UI Variable';
    font-weight: bold;
    font-size: xx-large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #293BFD;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: forestgreen;
}