@font-face {
    font-family: 'Segoe UIVF';
    src: url('../fonts/SegoeUIVF.woff');

}

h1 {
    font-family: 'Segoe UIVF', sans-serif;
    font-size: 80px;
    color: white;
    text-align: center;
}

h2 {
    font-family: 'Segoe UIVF', sans-serif;
    font-size: 40px;
    color: gold;
    text-align: center;
}

body {
    background-color: rgb(44, 44, 44);
    
}

a {
    font-family: 'Segoe UIVF', sans-serif;
    font-size: 20px;
    color: green;
    text-align: center;
    text-decoration: none;
    
}

a:hover {
    font-size: 25px;
    color: limegreen;

}

li {
    color: rgb(44, 44, 44)
}




