@font-face {
    font-family: 'Segoe UI Variable';
    font-style: normal;
    font-weight: 400;
    src: local('Segoe UI Variable'), url('../font/SegoeUIVF.woff') format('woff');
}

body {
    background-color: #ddd;
}

p {
    color: black;
    font-family: 'Segoe UI Variable';
    font-weight: bold;
    font-size: xx-large;
    padding-left: 100px;
    padding-right: 100px;
}

h1 {
    color: #000000;
    text-align: center;
    font-family: 'Segoe UI Variable';
    font-weight: bolder;
    font-size: 100px
}

 ::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: #ddd;
}

 ::-webkit-scrollbar-thumb {
    background: black;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #293bfd;
}

.topnav {
    background-color: #ddd;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: white;
    color: black;
}

.topnav a.active {
    background-color: black;
    color: white;
}

.topnav a.active:hover {
    background-color: #293bfd;
    color: white;
}

.topnav a.site_settings {
    background-color: black;
    color: white;
}

.topnav a.site_settings:hover {
    background-color: #293bfd;
    color: white;
}

a {
    color: black;
    font-family: 'Segoe UI Variable';
    font-weight: bold;
    font-size: xx-large;
    padding-left: 100px;
    padding-right: 100px;
    text-decoration: none;
}

.reference:link {
    color: #293bfd;
    font-family: 'Segoe UI Variable';
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
}

.reference:visited {
    color: #293bfd;
    font-family: 'Segoe UI Variable';
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
}

h2 {
    color: orangered;
    font-family: 'Segoe UI Variable';
    font-weight: bold;
    font-size: xx-large;
    padding-left: 100px;
    padding-right: 100px;
}

img {
    padding-left: 100px;
    padding-right: 100px;
}

.featured_games {
    border-radius: 10px;
    border: 5px solid red;
    overflow: hidden;
    margin-left: 100px;
    margin-right: 100px;
}

.featured_games_text {
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
    text-decoration: none;
}

h3 {
    color: red;
    font-family: 'Segoe UI Variable';
    font-weight: bold;
    font-size: xx-large;
    padding-left: 100px;
    padding-right: 100px;
}

.featured_games_img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 15px;
    float: left;
}

.featured {
    background-color: black;
}

.link {
    color: #313131;
    font-weight: bold;
    font-size: xx-large;
    padding-left: 100px;
    padding-right: 100px;
    text-decoration: none;
}

.inline_link {
    color: red;
    font-family: 'Segoe UI Variable';
    font-weight: bold;
    font-size: xx-large;
    text-decoration: none;
    padding-left: 100px;
    display: block;
}

.index_link {
    color: limegreen;
    font-family: 'Segoe UI Variable';
    font-weight: bold;
    font-size: xx-large;
    padding-left: 125px;
    padding-right: 125px;
    text-decoration: none;
}

img {
    width: 50%;
    padding-left: 100px;
}


/* The grid: Four equal columns that floats next to each other */

.column {
    float: left;
    width: 25%;
    padding: 10px;
}


/* Style the images inside the grid */

.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* The expanding image container (positioning is needed to position the close button and the text) */

.container {
    position: relative;
    display: none;
}


/* Expanding image text */

#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}


/* Closable button inside the image */

.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}